name: Build project

on: [pull_request]

env:
  DB_ROOT: 'root'
  DB_ROOTPW: 'root'
  DB_HOST: '127.0.0.1'
  DB_NAME: 'ragnarok'
  DB_USER: 'ragnarok'
  DB_PASS: 'ragnarok'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: maven
        
    - name: Build with Maven
      run: ./mvnw clean install
        
    - name: Run with Maven
      run: ./mvnw spring-boot:run